.reviews {
  padding: 50px 0;
}

.reviews h2 {
  font-size: 2em;
  color: #e62429;
  margin-bottom: 20px;
}

.reviewControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#reviewsPerPage {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #2a2a2a;
  color: #ffffff;
}

/* #review-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
